/* Menu Navigation Button CSS Definitions:
===================================================================================================================== */

.sm-button {
  margin: 0;
  height: 48px;
  padding: 0 12px;
  font-size: 0;
  border: none;
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  transition: background 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sm-button:hover,
.sm-button:focus {
  opacity: 1;
  outline: none;
}

.sm-button.sm-right {
  float: right;
}

.sm-button .hamburger-box {
  width: 30px;
  vertical-align: middle;
}

.sm-button .hamburger-inner,
.sm-button .hamburger-inner::after,
.sm-button .hamburger-inner::before {
  width: 30px;
}

.sm-button .hamburger-label {
  font-weight: 500;
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
